body {
  font-family: sans-serif;
  color: gray;
}
a {
  text-decoration: none;
}
.pressed {
  color: grey;
}
#button-submit {
  margin-bottom: 20px;
}
#btn-currentWeather {
  display: block;
}
small {
  font-size: 10px;
  margin: 7px;
  position: relative;
  bottom: 5px;
}
.current {
  font-size: xxx-large;
  color: black;
}
.linkToGit {
  font-size: 20px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.hide {
  display: none;
}
.description {
  text-transform: capitalize;
}
